# Titanic: Data Preparation and Analysis

- In this homework assignment, you will practice data loading, preparation, transformation and analysis.
- Follow each *TODO* instruction to write a Python code snippet with pandas. 
- After you finish coding and debugging, click the `Cell` tab, select `Run All`, and then save the notebook that includes the output of each code cell.

In [4]:
import pandas as pd
from pandas import Series, DataFrame

**TODO 1**
Load the data from files `train.csv` and `test.csv` into two DataFrames `train` and `test`, respectively. Display the first six rows of the two DataFrames, respectively.

In [5]:
#####TODO 1#####
pass
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
print(train.head(6))
test.head(6)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S

**TODO 2**
Find the number of columns in the `train` and `test` DataFrames, respectively.

In [6]:
#####TODO 2#####
pass
print(train.shape[1])
test.shape[1]

12

11

**TODO 3** 
Show the names of all columns in the `train` DataFrame with an `object` data type.

In [18]:
#####TODO 3#####
pass
train.columns[train.dtypes == 'object']

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

**TODO 4**
Show the names of all columns in the `train` DataFrame with missing values.

In [7]:
#####TODO 4#####
pass
train.columns[train.isnull().any()]

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

**TODO 5**
Find the ticket class with the highest number of passengers in the `train` DataFrame.

In [8]:
#####TODO 5#####
pass
train.Pclass.value_counts().index[0]

3

**TODO 6**
Find the ticket class with the highest survival rate in the `train` DataFrame.

*Hint*: use `train.groupby()`.

In [9]:
#####TODO 6#####
pass
train.groupby('Pclass').Survived.mean().sort_values().index[-1]

1

**TODO 7**
Column `Embarked`stores the port of embarkation for each passenger. Find the number of missing values in this column of both DataFrames separately. Then fill in any missing value in this column with the port of the highest frequency in the `train` DataFrame. Finally, re-calculate the number of missing values in this column to verify your operations.

In [11]:
#####TODO 7#####
pass
print(train.Embarked.isnull().sum())
print(test.Embarked.isnull().sum())
train.Embarked = train.Embarked.fillna(train.Embarked.value_counts().index[0])
print(train.Embarked.isnull().sum())
print(test.Embarked.isnull().sum())

2
0
0
0

**TODO 8** Output the number of rows in the `train` DataFrame with field `Embarked` equal to 'S'.

In [12]:
(train.Embarked == 'S').sum()

646

**TODO 9** Column `Fare` stores the  the tickt fare each passenger paid. Find the number of missing values in this column of both DataFrames separately. If a DataFrame has missing values in this column, then fill in any missing value with the mean ticket fare of the same ticket class in the `train` DataFrame. Finally, re-calculate the number of missing values in this column to verify your operations.

In [13]:
#####TODO 9#####
pass
print(train.Fare.isnull().sum())
print(test.Fare.isnull().sum())
if test.Fare.isnull().any():
    pclass = test.Pclass[test.Fare.isnull()].values[0]
    test.Fare = test.Fare.fillna(train[train.Pclass == pclass].Fare.mean())
print(train.Fare.isnull().sum())
print(test.Fare.isnull().sum())

0
1
0
0

**TODO 10** 
Output the ticket fare of the passenger in the `test` DataFrame with field `PassengerId` equal to 1044.

In [14]:
#####TODO 10#####
pass
test[test.PassengerId == 1044].Fare

152    13.67555
Name: Fare, dtype: float64

**TODO 11**
Compute the survival rate under each distinct level of field `Parch` in the `train` DataFrame.

In [15]:
#####TODO 11#####
pass
train.groupby('Parch').Survived.mean()

Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64

**TODO 12**
Convert the data in column 'Sex' to 1 for 'male' and 0 for 'female' in both DataFrames. Then find the number of zeros in this column of the `train` DataFrame.

In [20]:
####TODO 12####
train.Sex[train.Sex == 'male'] = 1
train.Sex[train.Sex == 'female'] = 0
test.Sex[test.Sex == 'male'] = 1
test.Sex[test.Sex == 'female'] = 0
train.Sex.value_counts()[0]

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

314

**TODO 13** 
Fill in the missing values in column `Age` with the mean age in the `train` DataFrame.

In [16]:
#####TODO 13#####
pass
test.Age = test.Age.fillna(train.Age.mean())
train.Age = test.Age.fillna(train.Age.mean())

**TODO 14** Add a column `IsChild` to both DataFrames. The value in this column is 1 if a passenger's age is below 16 years old, or 0 otherwise. Then compute the column total. 

*Hint*: use `DataFrame.apply()`.

In [125]:
#####TODO 14#####
pass
def comp(x, y):
    if x < y:
        return 1
    return 0
train['IsChild'] = train.Age.apply(comp, args = (16,))
print(train.IsChild.sum())
test['IsChild'] = test.Age.apply(comp, args = (16,))
print(test.IsChild.sum())

32
32

**TODO 15** 
Compute the survival rates of children and adults in the `train` DataFrame.

In [130]:
#####TODO 15#####
pass
print(train.groupby('IsChild').Survived.mean())

IsChild
0    0.38766
1    0.28125
Name: Survived, dtype: float64