# Data Loading and Storage: A Tutorial

In [1]:
# import pandas
import pandas as pd
from pandas import Series, DataFrame

## Reading and Writing Data

- pandas features a number of functions for reading tabular data as a DataFrame object.
    - read_csv
    - read_excel
    - read_json
    - read_sql

- DataFrame has methods to write data to a file.
    - to_csv
    - to_json

### Reading Data in Text Format

In [2]:
# a csv file
!cat students.csv

Fname,Gender,Major,GPA
Mike,M,FIN,3.4
Mary,F,MGT,3.7
Lily,F,MKT,3.2
Steven,M,FIN,2.9
Brian,M,MGT,3.1
Abby,F,MKT,2.7
Dylan,M,MGT,3.9

In [3]:
# read a csv file
df = pd.read_csv('students.csv')
df

    Fname Gender Major  GPA
0    Mike      M   FIN  3.4
1    Mary      F   MGT  3.7
2    Lily      F   MKT  3.2
3  Steven      M   FIN  2.9
4   Brian      M   MGT  3.1
5    Abby      F   MKT  2.7
6   Dylan      M   MGT  3.9

In [4]:
# specify the index
df2 = pd.read_csv('students.csv', index_col = 'Fname')
df2

       Gender Major  GPA
Fname
Mike        M   FIN  3.4
Mary        F   MGT  3.7
Lily        F   MKT  3.2
Steven      M   FIN  2.9
Brian       M   MGT  3.1
Abby        F   MKT  2.7
Dylan       M   MGT  3.9

In [5]:
# a csv file without a header row
!cat students2.csv

Mike,M,FIN,3.4
Mary,F,MGT,3.7
Lily,F,MKT,3.2
Steven,M,FIN,2.9
Brian,M,MGT,3.1
Abby,F,MKT,2.7
Dylan,M,MGT,3.9

In [6]:
# pandas assigns default column names
df3 = pd.read_csv('students2.csv', header = None)
df3

        0  1    2    3
0    Mike  M  FIN  3.4
1    Mary  F  MGT  3.7
2    Lily  F  MKT  3.2
3  Steven  M  FIN  2.9
4   Brian  M  MGT  3.1
5    Abby  F  MKT  2.7
6   Dylan  M  MGT  3.9

In [7]:
# specify column names
df4 = pd.read_csv('students2.csv', names = ['Fname', 'Gender', 'Major', 'GPA'])
df4

    Fname Gender Major  GPA
0    Mike      M   FIN  3.4
1    Mary      F   MGT  3.7
2    Lily      F   MKT  3.2
3  Steven      M   FIN  2.9
4   Brian      M   MGT  3.1
5    Abby      F   MKT  2.7
6   Dylan      M   MGT  3.9

In [8]:
# a text file where fields are separated by a variable amount of whitespace
!cat students3.txt

Fname Gender Major  GPA
Mike M FIN  3.4
Mary F MGT   3.7
Lily F MKT  3.2
Steven M FIN  2.9
Brian M MGT  3.1
Abby F MKT  2.7
Dylan M MGT  3.9

In [9]:
# read the text file using a regular expression as a delimiter
df5 = pd.read_csv('students3.txt', sep = '\s+')
df5

    Fname Gender Major  GPA
0    Mike      M   FIN  3.4
1    Mary      F   MGT  3.7
2    Lily      F   MKT  3.2
3  Steven      M   FIN  2.9
4   Brian      M   MGT  3.1
5    Abby      F   MKT  2.7
6   Dylan      M   MGT  3.9

In [10]:
# a csv file with missing values
!cat students4.csv

Fname,Gender,Major,GPA
Mike,M,FIN,3.4
Mary,F,,3.7
Lily,F,MKT,NULL
Steven,M,FIN,2.9
Brian,M,MGT,3.1
Abby,F,NA,2.7
Dylan,M,MGT,3.9

In [11]:
# read a file missing missing values
df6 = pd.read_csv('students4.csv')
df6

    Fname Gender Major  GPA
0    Mike      M   FIN  3.4
1    Mary      F   NaN  3.7
2    Lily      F   MKT  NaN
3  Steven      M   FIN  2.9
4   Brian      M   MGT  3.1
5    Abby      F   NaN  2.7
6   Dylan      M   MGT  3.9

### Writing Data to Text Format

In [12]:
# write the data out to a csv file
df7 = pd.read_csv('students.csv')
# to_csv is a DataFrame's method
df7.to_csv('out.csv', index = False, header = False)
!cat out.csv

Mike,M,FIN,3.4
Mary,F,MGT,3.7
Lily,F,MKT,3.2
Steven,M,FIN,2.9
Brian,M,MGT,3.1
Abby,F,MKT,2.7
Dylan,M,MGT,3.9

In [13]:
# write a subset of the columns
df7.to_csv('out2.csv', index = False, columns = ['Fname', 'GPA'])
!cat out2.csv

Fname,GPA
Mike,3.4
Mary,3.7
Lily,3.2
Steven,2.9
Brian,3.1
Abby,2.7
Dylan,3.9

### JSON Data

- JSON has become one of the standard formats for sending data by HTTP request between web browsers and other applications.
- JSON is close to valid Python code. 
- Basic types: objects (dicts), arrays (lists), strings, numbers, booleans, and nulls.
- All of the keys in an JSON object must be strings.

In [14]:
# a JSON string
obj = """
[
    {
        "Name": "Mike",
        "Gender": "M", 
        "Major": "FIN",
        "GPA": 3.4
    },
    {
        "Name": "Mary",
        "Gender": "F", 
        "Major": "MGT",
        "GPA": 3.7
    },
    {
        "Name": "Lily",
        "Gender": "F", 
        "Major": null,
        "GPA": 3.2
    }
]
"""

In [15]:
import json

In [16]:
# convert a JSON string to a Pyathon form
lst = json.loads(obj)
lst

[{'Name': 'Mike', 'Gender': 'M', 'Major': 'FIN', 'GPA': 3.4},
 {'Name': 'Mary', 'Gender': 'F', 'Major': 'MGT', 'GPA': 3.7},
 {'Name': 'Lily', 'Gender': 'F', 'Major': None, 'GPA': 3.2}]

In [17]:
# convert a JSON object to a DataFrame
df8 = pd.DataFrame(lst, columns = ['Name', 'Major'])
df8

   Name Major
0  Mike   FIN
1  Mary   MGT
2  Lily  None

In [18]:
# a JSON file
!cat students5.json

[{"GPA":3.4,"Gender":"M","Major":"FIN","Name":"Mike"},{"GPA":3.7,"Gender":"F","Major":"MGT","Name":"Mary"},{"GPA":3.2,"Gender":"F","Major":null,"Name":"Lily"}]

In [19]:
# read a JSON file
df9 = pd.read_json('students5.json')
df9

   GPA Gender Major  Name
0  3.4      M   FIN  Mike
1  3.7      F   MGT  Mary
2  3.2      F  None  Lily

In [20]:
# write data to a JSON file
df9.to_json('students6.json', orient = 'records')
!cat students6.json

[{"GPA":3.4,"Gender":"M","Major":"FIN","Name":"Mike"},{"GPA":3.7,"Gender":"F","Major":"MGT","Name":"Mary"},{"GPA":3.2,"Gender":"F","Major":null,"Name":"Lily"}]

In [21]:
# convert a Python object back to JSON
lst2 = df9.to_dict(orient = 'records')
asjson = json.dumps(lst2)
asjson

'[{"GPA": 3.4, "Gender": "M", "Major": "FIN", "Name": "Mike"}, {"GPA": 3.7, "Gender": "F", "Major": "MGT", "Name": "Mary"}, {"GPA": 3.2, "Gender": "F", "Major": null, "Name": "Lily"}]'

## Web Scraping

- Web scraping is the practice of automated gathering data from the internet.
- This is accomplished by writing an antomated program that queries a web server, requests data, and then parses the data to extract needed information.
- Web scraping process flow
    - Retrieving HTML data -- **requests** library
    - Parsing the data -- **BeautifulSoup** library and **re** module

### Connecting to Retrieve Data

In [22]:
import requests

In [23]:
html = requests.get('http://postmda.github.io/MDA610/HTMLIntro.html')
# a status code of 200 indicates that the page was downloaded successfully
print(html.status_code)

200

In [24]:
# print out the content of the page
print(html.content)

b"<!DOCTYPE html>\n<html>\n<head>\n\t<title>A Simple Page</title>\n\t<style>\n\t\tbody {\n\t\t\tbackground-color: linen;\n\t\t}\n\t\th1 {\n\t\t\tcolor: blue;\n\t\t\ttext-align: center;\n\t\t}\n\t\th2 {\n\t\t\tcolor: green;\n\t\t}\n\t\t#first {\n\t\t\tcolor: brown;\n\t\t}\n\t\t.tag {\n\t\t\tcolor: red;\n\t\t\tbackground-color: yellow;\n\t\t}\n\t\t.attr {\n\t\t\tcolor: purple;\n\t\t\tbackground-color: grey;\n\t\t}\n\t</style>\n</head>\n<body>\n\t<h1>HTML Introduction</h1>\n\t\t<h2>HTML Documents</h2>\n\t\t\t<p>\n\t\t\t\tAll HTML documents start with a document type declaration &lt;!DOCTYPE html&gt;. An HTML document is enclosed by &lt;html&gt; and &lt;/html&gt;. The head element, denoted by &lt;head&gt; and &lt;/head&gt;, contains the metadata, which may include the title for the document. The visible part of an HTML document is between &lt;body&gt; and &lt;/body&gt;. \n\t\t\t</p>\n\t\t<h2>Basic Elements of an HTML Page</h2>\n\t\t\t<div>\n\t\t\t\t<p id='first' class='text first'>\n\t\t\t\t\tAn HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between. <img src='tag.png' alt='a tag demo'>\n\t\t\t\t</p>\n\t\t\t\t<p id='second' class='text second'>\n\t\t\t\t\tThe basic elements include:\n\t\t\t\t</p>\n\t\t\t\t<ul>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tText headers, denoted by tags <span class=tag>h1</span>, <span class=tag>h2</span>, \n\t\t\t\t\t\t<span class=tag>h3</span>, <span class=tag>h4</span>, \n\t\t\t\t\t\t<span class=tag>h5</span>, and <span class=tag>h6</span>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tParagraphs, denoted by the <span id='p_tag' class=tag>p</span> tag\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tLinks, denoted by the <span id='a_tag' class=tag>a</span> tag\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tImages, denoted by the <span id='img_tag' class=tag>img</span> tag\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tDividers, denoted by the <span id='div_tag' class=tag>div</span> tag\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\tText spans, denoted by the <span id='span_tag' class=tag>span</span> tag\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\t\t\t</div>\n\t\t\t<div>\n\t\t\t\t<p id='third' class='text third'>\n\t\t\t\t\tElements can also contain attributes that define additional properties. The most common attributes are:\n\t\t\t\t</p>\n\t\t\t\t<ul>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<span class=attr>id</span> - the unique id of an element in a page\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<span class=attr>class</span> - the CSS class of an element\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\t\t\t</div>\n\t\t<h2>Internal CSS</h2>\n\t\t\t<p>\n\t\t\t\tInternal CSS styles are defined within the &lt;style&gt; element inside the &lt;head&gt; section. A CSS-rule set consists of a selector and a declaration block. <img src='cssrule.png' alt='a css rule set demo'>\n\t\t\t</p>\n\t\t\t<p>\n\t\t\t\tA selector finds the HTML elements you would like to style. The <b>element</b> selector selects HTML elements by name, such as <span class=tag>p</span>, <span class=tag>h1</span>, or <span class=tag>li</span>. The <b>id</b> selector and the <b>class</b> selector use, respectively, the <span class=attr>id</span> atrribute and the <span class=attr>class</span> attribute to select an element. An <b>id</b> selector precedes an id of the element with a hash (#) character. To select elements of a specific class, write a period (.) character, followed by the class name. \n\t\t\t</p>\n</body>\n</html>\n\n\n\n"

### Parsing HTML Data

- BeautifulSoup objects
- Tag objects
    - bs.*tagName* returns the first instance of the tag.
    - bs.*find(tagName, tagAttributes)* returns the first instance of the tag with specified attribute values.
    - bs.*find_all(tagName, tagAttributes)* returns a list of the tags.
- NavigableString objects
    - tag.*get_text()* returns the text within the tag.

In [25]:
from bs4 import BeautifulSoup

In [26]:
# transform HTML into a BeautifulSoup object
bs = BeautifulSoup(html.content, 'html.parser')

In [27]:
# print out the content of the page with a nice format
print(bs.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A Simple Page
  </title>
  <style>
   body {
			background-color: linen;
		}
		h1 {
			color: blue;
			text-align: center;
		}
		h2 {
			color: green;
		}
		#first {
			color: brown;
		}
		.tag {
			color: red;
			background-color: yellow;
		}
		.attr {
			color: purple;
			background-color: grey;
		}
  </style>
 </head>
 <body>
  <h1>
   HTML Introduction
  </h1>
  <h2>
   HTML Documents
  </h2>
  <p>
   All HTML documents start with a document type declaration &lt;!DOCTYPE html&gt;. An HTML document is enclosed by &lt;html&gt; and &lt;/html&gt;. The head element, denoted by &lt;head&gt; and &lt;/head&gt;, contains the metadata, which may include the title for the document. The visible part of an HTML document is between &lt;body&gt; and &lt;/body&gt;.
  </p>
  <h2>
   Basic Elements of an HTML Page
  </h2>
  <div>
   <p class="text first" id="first">
    An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between.
    <img alt="a tag demo" src="tag.png"/>
   </p>
   <p class="text second" id="second">
    The basic elements include:
   </p>
   <ul>
    <li>
     Text headers, denoted by tags
     <span class="tag">
      h1
     </span>
     ,
     <span class="tag">
      h2
     </span>
     ,
     <span class="tag">
      h3
     </span>
     ,
     <span class="tag">
      h4
     </span>
     ,
     <span class="tag">
      h5
     </span>
     , and
     <span class="tag">
      h6
     </span>
    </li>
    <li>
     Paragraphs, denoted by the
     <span class="tag" id="p_tag">
      p
     </span>
     tag
    </li>
    <li>
     Links, denoted by the
     <span class="tag" id="a_tag">
      a
     </span>
     tag
    </li>
    <li>
     Images, denoted by the
     <span class="tag" id="img_tag">
      img
     </span>
     tag
    </li>
    <li>
     Dividers, denoted by the
     <span class="tag" id="div_tag">
      div
     </span>
     tag
    </li>
    <li>
     Text spans, denoted by the
     <span class="tag" id="span_tag">
      span
     </span>
     tag
    </li>
   </ul>
  </div>
  <div>
   <p class="text third" id="third">
    Elements can also contain attributes that define additional properties. The most common attributes are:
   </p>
   <ul>
    <li>
     <span class="attr">
      id
     </span>
     - the unique id of an element in a page
    </li>
    <li>
     <span class="attr">
      class
     </span>
     - the CSS class of an element
    </li>
   </ul>
  </div>
  <h2>
   Internal CSS
  </h2>
  <p>
   Internal CSS styles are defined within the &lt;style&gt; element inside the &lt;head&gt; section. A CSS-rule set consists of a selector and a declaration block.
   <img alt="a css rule set demo" src="cssrule.png"/>
  </p>
  <p>
   A selector finds the HTML elements you would like to style. The
   <b>
    element
   </b>
   selector selects HTML elements by name, such as
   <span class="tag">
    p
   </span>
   ,
   <span class="tag">
    h1
   </span>
   , or
   <span class="tag">
    li
   </span>
   . The
   <b>
    id
   </b>
   selector and the
   <b>
    class
   </b>
   selector use, respectively, the
   <span class="attr">
    id
   </span>
   atrribute and the
   <span class="attr">
    class
   </span>
   attribute to select an element. An
   <b>
    id
   </b>
   selector precedes an id of the element with a hash (#) character. To select elements of a specific class, write a period (.) character, followed by the class name.
  </p>
 </body>
</html>

In [28]:
# print out the title element
print(bs.title)

<title>A Simple Page</title>

In [29]:
# print out the first paragraph
print(bs.p.get_text())

				All HTML documents start with a document type declaration <!DOCTYPE html>. An HTML document is enclosed by <html> and </html>. The head element, denoted by <head> and </head>, contains the metadata, which may include the title for the document. The visible part of an HTML document is between <body> and </body>.

In [30]:
# print out the first span element with class=attr
print(bs.find('span', {'class': 'attr'}))

<span class="attr">id</span>

In [31]:
# find all instances of the 'span' tag with class=attr
stag = bs.find_all('span', {'class': 'attr'})
print(stag)
for sp in stag:
    print(sp.get_text())

[<span class="attr">id</span>, <span class="attr">class</span>, <span class="attr">id</span>, <span class="attr">class</span>]
id
class
id
class

In [32]:
# find all instances with the class attribute beginning with 'text'
pars = bs.find_all(class_='text')
for element in pars:
    print(element.get_text())

					An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between.


					The basic elements include:


					Elements can also contain attributes that define additional properties. The most common attributes are:

### Navigating Trees

- Tree navigation finds a tag based on its location in a document. 
- BeautifulSoup functions always dealwith the descendants of the current tag selected.
- Children are always one level below a parent.

In [44]:
# descendants at different levels
bs.body.find_all('span')

[<span class="tag">h1</span>,
 <span class="tag">h2</span>,
 <span class="tag">h3</span>,
 <span class="tag">h4</span>,
 <span class="tag">h5</span>,
 <span class="tag">h6</span>,
 <span class="tag" id="p_tag">p</span>,
 <span class="tag" id="a_tag">a</span>,
 <span class="tag" id="img_tag">img</span>,
 <span class="tag" id="div_tag">div</span>,
 <span class="tag" id="span_tag">span</span>,
 <span class="attr">id</span>,
 <span class="attr">class</span>,
 <span class="tag">p</span>,
 <span class="tag">h1</span>,
 <span class="tag">li</span>,
 <span class="attr">id</span>,
 <span class="attr">class</span>]

In [33]:
# generate a list of the elements at the top level
lst1 = list(bs.children)
print(lst1)
lst1[0]

['html', '\n', <html>
<head>
<title>A Simple Page</title>
<style>
		body {
			background-color: linen;
		}
		h1 {
			color: blue;
			text-align: center;
		}
		h2 {
			color: green;
		}
		#first {
			color: brown;
		}
		.tag {
			color: red;
			background-color: yellow;
		}
		.attr {
			color: purple;
			background-color: grey;
		}
	</style>
</head>
<body>
<h1>HTML Introduction</h1>
<h2>HTML Documents</h2>
<p>
				All HTML documents start with a document type declaration &lt;!DOCTYPE html&gt;. An HTML document is enclosed by &lt;html&gt; and &lt;/html&gt;. The head element, denoted by &lt;head&gt; and &lt;/head&gt;, contains the metadata, which may include the title for the document. The visible part of an HTML document is between &lt;body&gt; and &lt;/body&gt;.
			</p>
<h2>Basic Elements of an HTML Page</h2>
<div>
<p class="text first" id="first">
					An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between. <img alt="a tag demo" src="tag.png"/>
</p>
<p class="text second" id="second">
					The basic elements include:
				</p>
<ul>
<li>
						Text headers, denoted by tags <span class="tag">h1</span>, <span class="tag">h2</span>,
						<span class="tag">h3</span>, <span class="tag">h4</span>,
						<span class="tag">h5</span>, and <span class="tag">h6</span>
</li>
<li>
						Paragraphs, denoted by the <span class="tag" id="p_tag">p</span> tag
					</li>
<li>
						Links, denoted by the <span class="tag" id="a_tag">a</span> tag
					</li>
<li>
						Images, denoted by the <span class="tag" id="img_tag">img</span> tag
					</li>
<li>
						Dividers, denoted by the <span class="tag" id="div_tag">div</span> tag
					</li>
<li>
						Text spans, denoted by the <span class="tag" id="span_tag">span</span> tag
					</li>
</ul>
</div>
<div>
<p class="text third" id="third">
					Elements can also contain attributes that define additional properties. The most common attributes are:
				</p>
<ul>
<li>
<span class="attr">id</span> - the unique id of an element in a page
					</li>
<li>
<span class="attr">class</span> - the CSS class of an element
					</li>
</ul>
</div>
<h2>Internal CSS</h2>
<p>
				Internal CSS styles are defined within the &lt;style&gt; element inside the &lt;head&gt; section. A CSS-rule set consists of a selector and a declaration block. <img alt="a css rule set demo" src="cssrule.png"/>
</p>
<p>
				A selector finds the HTML elements you would like to style. The <b>element</b> selector selects HTML elements by name, such as <span class="tag">p</span>, <span class="tag">h1</span>, or <span class="tag">li</span>. The <b>id</b> selector and the <b>class</b> selector use, respectively, the <span class="attr">id</span> atrribute and the <span class="attr">class</span> attribute to select an element. An <b>id</b> selector precedes an id of the element with a hash (#) character. To select elements of a specific class, write a period (.) character, followed by the class name.
			</p>
</body>
</html>, '\n']

'html'

In [34]:
# type of an item
[type(item) for item in lst1]

[bs4.element.Doctype,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString]

In [35]:
# all elements inside the html tag
lst2 = list(lst1[2].children)
lst2

['\n', <head>
 <title>A Simple Page</title>
 <style>
 		body {
 			background-color: linen;
 		}
 		h1 {
 			color: blue;
 			text-align: center;
 		}
 		h2 {
 			color: green;
 		}
 		#first {
 			color: brown;
 		}
 		.tag {
 			color: red;
 			background-color: yellow;
 		}
 		.attr {
 			color: purple;
 			background-color: grey;
 		}
 	</style>
 </head>, '\n', <body>
 <h1>HTML Introduction</h1>
 <h2>HTML Documents</h2>
 <p>
 				All HTML documents start with a document type declaration &lt;!DOCTYPE html&gt;. An HTML document is enclosed by &lt;html&gt; and &lt;/html&gt;. The head element, denoted by &lt;head&gt; and &lt;/head&gt;, contains the metadata, which may include the title for the document. The visible part of an HTML document is between &lt;body&gt; and &lt;/body&gt;.
 			</p>
 <h2>Basic Elements of an HTML Page</h2>
 <div>
 <p class="text first" id="first">
 					An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between. <img alt="a tag demo" src="tag.png"/>
 </p>
 <p class="text second" id="second">
 					The basic elements include:
 				</p>
 <ul>
 <li>
 						Text headers, denoted by tags <span class="tag">h1</span>, <span class="tag">h2</span>,
 						<span class="tag">h3</span>, <span class="tag">h4</span>,
 						<span class="tag">h5</span>, and <span class="tag">h6</span>
 </li>
 <li>
 						Paragraphs, denoted by the <span class="tag" id="p_tag">p</span> tag
 					</li>
 <li>
 						Links, denoted by the <span class="tag" id="a_tag">a</span> tag
 					</li>
 <li>
 						Images, denoted by the <span class="tag" id="img_tag">img</span> tag
 					</li>
 <li>
 						Dividers, denoted by the <span class="tag" id="div_tag">div</span> tag
 					</li>
 <li>
 						Text spans, denoted by the <span class="tag" id="span_tag">span</span> tag
 					</li>
 </ul>
 </div>
 <div>
 <p class="text third" id="third">
 					Elements can also contain attributes that define additional properties. The most common attributes are:
 				</p>
 <ul>
 <li>
 <span class="attr">id</span> - the unique id of an element in a page
 					</li>
 <li>
 <span class="attr">class</span> - the CSS class of an element
 					</li>
 </ul>
 </div>
 <h2>Internal CSS</h2>
 <p>
 				Internal CSS styles are defined within the &lt;style&gt; element inside the &lt;head&gt; section. A CSS-rule set consists of a selector and a declaration block. <img alt="a css rule set demo" src="cssrule.png"/>
 </p>
 <p>
 				A selector finds the HTML elements you would like to style. The <b>element</b> selector selects HTML elements by name, such as <span class="tag">p</span>, <span class="tag">h1</span>, or <span class="tag">li</span>. The <b>id</b> selector and the <b>class</b> selector use, respectively, the <span class="attr">id</span> atrribute and the <span class="attr">class</span> attribute to select an element. An <b>id</b> selector precedes an id of the element with a hash (#) character. To select elements of a specific class, write a period (.) character, followed by the class name.
 			</p>
 </body>, '\n']

In [36]:
# all elements inside the body tag
lst3 = list(lst2[3].children)
lst3

['\n', <h1>HTML Introduction</h1>, '\n', <h2>HTML Documents</h2>, '\n', <p>
 				All HTML documents start with a document type declaration &lt;!DOCTYPE html&gt;. An HTML document is enclosed by &lt;html&gt; and &lt;/html&gt;. The head element, denoted by &lt;head&gt; and &lt;/head&gt;, contains the metadata, which may include the title for the document. The visible part of an HTML document is between &lt;body&gt; and &lt;/body&gt;.
 			</p>, '\n', <h2>Basic Elements of an HTML Page</h2>, '\n', <div>
 <p class="text first" id="first">
 					An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between. <img alt="a tag demo" src="tag.png"/>
 </p>
 <p class="text second" id="second">
 					The basic elements include:
 				</p>
 <ul>
 <li>
 						Text headers, denoted by tags <span class="tag">h1</span>, <span class="tag">h2</span>,
 						<span class="tag">h3</span>, <span class="tag">h4</span>,
 						<span class="tag">h5</span>, and <span class="tag">h6</span>
 </li>
 <li>
 						Paragraphs, denoted by the <span class="tag" id="p_tag">p</span> tag
 					</li>
 <li>
 						Links, denoted by the <span class="tag" id="a_tag">a</span> tag
 					</li>
 <li>
 						Images, denoted by the <span class="tag" id="img_tag">img</span> tag
 					</li>
 <li>
 						Dividers, denoted by the <span class="tag" id="div_tag">div</span> tag
 					</li>
 <li>
 						Text spans, denoted by the <span class="tag" id="span_tag">span</span> tag
 					</li>
 </ul>
 </div>, '\n', <div>
 <p class="text third" id="third">
 					Elements can also contain attributes that define additional properties. The most common attributes are:
 				</p>
 <ul>
 <li>
 <span class="attr">id</span> - the unique id of an element in a page
 					</li>
 <li>
 <span class="attr">class</span> - the CSS class of an element
 					</li>
 </ul>
 </div>, '\n', <h2>Internal CSS</h2>, '\n', <p>
 				Internal CSS styles are defined within the &lt;style&gt; element inside the &lt;head&gt; section. A CSS-rule set consists of a selector and a declaration block. <img alt="a css rule set demo" src="cssrule.png"/>
 </p>, '\n', <p>
 				A selector finds the HTML elements you would like to style. The <b>element</b> selector selects HTML elements by name, such as <span class="tag">p</span>, <span class="tag">h1</span>, or <span class="tag">li</span>. The <b>id</b> selector and the <b>class</b> selector use, respectively, the <span class="attr">id</span> atrribute and the <span class="attr">class</span> attribute to select an element. An <b>id</b> selector precedes an id of the element with a hash (#) character. To select elements of a specific class, write a period (.) character, followed by the class name.
 			</p>, '\n']

In [37]:
# all elements inside the div element
lst4 = list(lst3[9].children)
lst4

['\n', <p class="text first" id="first">
 					An HTML element is a component of an HTML document. Most HTML elements are written within an opening tag and a closing tag with content in between. <img alt="a tag demo" src="tag.png"/>
 </p>, '\n', <p class="text second" id="second">
 					The basic elements include:
 				</p>, '\n', <ul>
 <li>
 						Text headers, denoted by tags <span class="tag">h1</span>, <span class="tag">h2</span>,
 						<span class="tag">h3</span>, <span class="tag">h4</span>,
 						<span class="tag">h5</span>, and <span class="tag">h6</span>
 </li>
 <li>
 						Paragraphs, denoted by the <span class="tag" id="p_tag">p</span> tag
 					</li>
 <li>
 						Links, denoted by the <span class="tag" id="a_tag">a</span> tag
 					</li>
 <li>
 						Images, denoted by the <span class="tag" id="img_tag">img</span> tag
 					</li>
 <li>
 						Dividers, denoted by the <span class="tag" id="div_tag">div</span> tag
 					</li>
 <li>
 						Text spans, denoted by the <span class="tag" id="span_tag">span</span> tag
 					</li>
 </ul>, '\n']

In [38]:
# Downloading weather data
page = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.XcroLFdKjb0')
page.status_code

200

In [39]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.title)

<title>National Weather Service</title>

In [40]:
seven_day = soup.find(id = 'seven-day-forecast') 
daily_item = seven_day.find_all(class_ = 'tombstone-container')
today = daily_item[0]
print(today)
daily_item[1]

<div class="tombstone-container">
<p class="period-name">Tonight<br/><br/></p>
<p><img alt="Tonight: Partly cloudy, with a low around 52. West wind 5 to 9 mph becoming calm  in the evening. " class="forecast-icon" src="newimages/medium/nsct.png" title="Tonight: Partly cloudy, with a low around 52. West wind 5 to 9 mph becoming calm  in the evening. "/></p><p class="short-desc">Partly Cloudy</p><p class="temp temp-low">Low: 52 °F</p></div>

<div class="tombstone-container">
<p class="period-name">Sunday<br/><br/></p>
<p><img alt="Sunday: Sunny, with a high near 72. North wind around 7 mph. " class="forecast-icon" src="newimages/medium/few.png" title="Sunday: Sunny, with a high near 72. North wind around 7 mph. "/></p><p class="short-desc">Sunny</p><p class="temp temp-high">High: 72 °F</p></div>

In [41]:
periods = [item.find(class_ = 'period-name').get_text() for item in daily_item]
descs = [item.find('img')['title'] for item in daily_item]
temps = [item.find(class_ = "temp").get_text() for item in daily_item]

In [42]:
weather_df = pd.DataFrame({'period': periods, 'description': descs, 'temperature': temps})
weather_df

,period,description,temperature
0,Tonight,"Tonight: Partly cloudy, with a low around 52. ...",Low: 52 °F
1,Sunday,"Sunday: Sunny, with a high near 72. North wind...",High: 72 °F
2,SundayNight,"Sunday Night: Mostly clear, with a low around ...",Low: 52 °F
3,Monday,"Monday: Mostly sunny, with a high near 69. Nor...",High: 69 °F
4,MondayNight,"Monday Night: Mostly cloudy, with a low around...",Low: 54 °F
5,Tuesday,"Tuesday: Mostly sunny, with a high near 64.",High: 64 °F
6,TuesdayNight,"Tuesday Night: Mostly clear, with a low around...",Low: 52 °F
7,Wednesday,"Wednesday: Sunny, with a high near 66.",High: 66 °F
8,WednesdayNight,"Wednesday Night: Clear, with a low around 50.",Low: 50 °F